<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to M.K.A. BioTeknoloji!</h1>
      <p class="lead">We are a leading provider of healthcare services, dedicated to improving the lives of our patients.</p>
      <hr class="my-4">
      <p>Learn more about what we do and how we can help you by exploring our site.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Our Services</h2>
        <p>We offer a wide range of healthcare services, including:</p>
        <ul>
          <li>Primary care</li>
          <li>Specialty care</li>
          <li>Emergency care</li>
          <li>Surgery</li>
        </ul>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Locations</h2>
        <p>We have multiple locations to serve you:</p>
        <ul>
          <li>San Francisco</li>
          <li>Los Angeles</li>
          <li>New York</li>
        </ul>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Have a question or need to schedule an appointment? Contact us:</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button">Phone</a>
          <a class="btn btn-secondary" href="#" role="button">Email</a>
        </p>
      </div>
    </div>
  </div>
  